#sarkany_kaland, #foldalatti, #footer{
    text-align: center;
}

.patkany{
    color: blueviolet;
}

.sarkany{
    color: crimson;
}

.sarkany, .patkany{
    font-size: 1.5rem;
}

.iranytu{
    display: inline-block;
}

.leltar{
    display: inline-block;
}

.fo{
    background-color: darkgreen;
}

.mellek{
    background-color: darkmagenta;
}

.fo, .mellek{
    color: white;
}

.fo:hover{
    background-color: slateblue;
    color: yellow;
}

.fo:active{
    font-weight: bolder;
}